@import "../mixins";
.main {
  @include basic-container();
  grid-row: 2/5;
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5.1rem;

  &.fullscreen:focus-within {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../../../assets/forest.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0.5;
    padding: .5rem;
    z-index: 10;
  }

  .m {
    @include basic();
    border: 0px;
    font-family: monospace;
    line-height: 1.2rem;
    font-size: 1.6rem;
    &:last-child {
      grid-column: 1/4;
    }
  }

  .fullscreenInfo {
    color: lightgray;
    text-align: center;
  }

  select {
    width: calc(100% - 1rem);
    option {
      font-size: 1.3rem;
    }
  }
}
