@import "../mixins";

.header {
  @include basic-container();
  @include flex-centered();
  justify-content: space-evenly;
  grid-row: 1/2;
  grid-column: 2/-1;

  .hdr {
    @include basic();
    @include flex-centered();
    width: 2.6rem;
    height: 2.6rem;
    user-select: none;
    &:active {
      scale: 0.95;
      transform-origin: center;
    }
    svg {
      height: 2rem;
      path {
        fill: grey;
      }
    }
  }
}
