.tabbable__level--1 {
  background-color: plum;
  border-radius: 15px;
  padding: 1rem;
}
.tabbable__level--1:focus {
  filter: brightness(125%);
  outline: none;
  border: 5px solid orangered;
}
