.tabbable__level--0 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: inherit;
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 25px;
  margin: 2rem;
}
.tabbable__level--0:focus {
  filter: brightness(125%);
  outline: none;
  border: 5px solid orangered;
}
