@import "../mixins";

.sidebar {
  @include basic-container();
  @include flex-centered();
  flex-direction: column;
  justify-content: space-between;
  grid-row: 1/5;
  grid-column: 1/2;
  height: calc(100vh - 2.1rem);

  .skip {
    @include basic();
    @include flex-centered();
    flex-direction: column;
    width: 16rem;
    height: 25%;
    margin-top: 0;
    svg {
      height: 7rem;
      path {
        fill: grey;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    height: 75%;
    margin:0, .4rem;

    > .line:last-child {
      margin-top: auto;
    }
  }

  .line {
    @include basic();
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 16rem;
    &:focus-within {
      & > .submenu {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .submenu {
    @include basic-container();
    @include flex-centered();
    flex-direction: column;
    position: absolute;
    transition: all 0.1s ease;
    transform: translateX(17.5rem) translateY(-1.4rem);
    z-index: -1;
    opacity: 0;
    padding: 0;
    &:focus-within {
      transition: all 0.1s ease;
      z-index: 1;
      opacity: 1;
    }
  }
}
