@mixin basic {
  padding: 1rem;
  margin: 5px;
  background-color: rgba(#ffffff, 0.8);
  border-radius: 2px;
  &:focus {
    background-color: rgba(#ffffff, 1);
    border: 5px solid tomato;
    padding: calc(1rem - 5px);
    outline: none;
  }
}

@mixin basic-container {
  margin: 5px;
  padding: 5px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border-radius: 2px;
  &:focus-within {
    background-color: rgba($color: #000000, $alpha: 0.6);
    outline: none;
  }
}

.container {
  font-size: 1rem;
  line-height: 1.2rem;
  display: grid;
  grid-template-columns: minmax(12rem, 14rem) repeat(4, minmax(50px, 1fr));
  grid-template-rows: 6rem repeat(2, 1fr) 12rem;
  z-index: 0;
  background-image: url("./assets/wood.jpg");
  background-position: center;
  background-size: cover;
  // background: linear-gradient(to right, cyan, lime);

  .sidebar {
    background-color: grey;
    grid-row: 1/5;
    grid-column: 1/2;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include basic-container();

    .skip {
      width: 10rem;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      @include basic();
      svg {
        height: 5rem;
        path {
          fill: grey;
        }
      }
    }

    .lines {
      display: flex;
      flex-direction: column;
      height: 75%;
      .line {
        @include basic();
        position: relative;
        width: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:focus {
          .l1container {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -2.5px;
            left: 12.8rem;
            border-radius: 2px;
            background-color: rgba(#000000, 0.6);
            transition: all 0.1s ease;
            // transform: translateX(0rem);
            z-index: initial;
            opacity: 1;
          }
        }
        &:last-child {
          margin-top: auto;
        }

        .l1container {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: -2.5px;
          left: 12.8rem;
          border-radius: 2px;
          background-color: rgba(#000000, 0.4);
          transition: all 0.1s ease;
          transform: translateX(-.3rem);
          z-index: -1;
          opacity: 0;
          // visibility: hidden;
          &:focus-within {
            background-color: rgba(#000000, 0.6);
            transition: all 0.1s ease;
            transform: translateX(0rem);
            z-index: initial;
            opacity: 1;
            // visibility: visible;
          }
          .l1 {
            @include basic();
            position: relative;
            display: flex;
            justify-content: space-between;
            // background-color: brown;
            width: 10rem;
            &:focus {
              .l2container {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: -5px;
                left: 12.2rem;
                border-radius: 2px;
                background-color: rgba(#000000, 0.6);
                transition: all 0.1s;
                // transform: translateX(0rem);
                z-index: initial;
                opacity: 1;
              }
            }

            .l2container {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: -5px;
              left: 12.4rem;
              border-radius: 2px;
              background-color: rgba(#000000, 0.4);
              transition: all 0.1s;
              // transform: translateX(-.3rem);
              z-index: -1;
              opacity: 0;
              &:focus-within {
                background-color: rgba(#000000, 0.6);
                transition: all 0.1s;
                transform: translateX(0rem);
                z-index: initial;
                opacity: 1;
              }
              .l2 {
                @include basic();
                position: relative;
                width: 10rem;
              }
            }
          }
        }
      }
    }
  }

  .header {
    background-color: coral;
    grid-row: 1/2;
    grid-column: 2/-1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include basic-container();

    .hdr {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      @include basic();
      &:active {
        scale: 0.95;
        transform-origin: center;
      }
      svg {
        height: 1.5rem;
        path {
          fill: grey;
          // height: 2rem;
        }
      }
    }
  }

  .main {
    background-color: cadetblue;
    grid-row: 2/5;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3.9rem;
    @include basic-container();

    .m {
      @include basic();
      &:last-child {
        grid-column: 1/4;
        line-height: 1.2rem;
        font-size: 1rem;
      }
    }
    .ms {
      @include basic();
      height: 3.2rem;
    }
  }

  .footer {
    @include basic-container();
    background-color: blanchedalmond;
    grid-row: 4/5;
    grid-column: 1/-1;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    &:focus-within {
      display: flex;
      transform: translateY(0);
      opacity: 1;
      z-index: 0;
    }

    .f {
      @include basic();
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:active {
        scale: 0.95;
        transform-origin: center;
      }
      svg {
        height: 3rem;
        path {
          fill: grey;
          height: 2rem;
        }
      }
    }
  }
}

.body {
  background-color: lightpink;
  height: 100rem;
  z-index: 1;
}
